$white: white
$black: #333
$gray: #444
$red: red
$color: $white
$colorHover: darken($color, 1%)
$colorActive: darken($color, 5%)
$purple: #F197FF
$purple-transparent: rgba($purple, 0.7%)
$colorLink: #0000EE
