$green: #57b929

$white: white
$black: #333
$gray: #444

$color: $white
$colorHover: darken($color, 1%)
$colorActive: darken($color, 5%)

$red: red
$purple: #F197FF
$purpleTransparent: rgba($purple, 0.7%)

$colorLink: $green
$colorLinkHover: darken($colorLink, 15%)
