$blue: #a8e7ff
$backgroundGradient: radial-gradient(ellipse at 50% 20%, lighten($blue, 16%) 0%, $blue 60%)

html
  height: 100%
body
  min-height: 100%

body
  background-color: $blue
  background-repeat: no-repeat
  background-image: $backgroundGradient

.wrap
  max-width: $width - 6 * $indent
  padding-bottom: $spacing-layout-vertical-small
  @include large
    padding-bottom: $spacing-layout-vertical-large
  @include small
    padding-left: $indent
    padding-right: $indent
  @include large
    margin: 0 auto
