html
  height: 100%
body
  min-height: 100%

.wrap, .wrap-narrow
  padding-left: $indent
  padding-right: $indent
  padding-bottom: $spacingLayoutVerticalSmall
  @include large
    padding-bottom: $spacingLayoutVerticalLarge

.wrap-narrow
  max-width: $width - 6 * $indent
  @include large
    margin: 0 auto
