nav

  padding: 16px 0
  text-align: right

  p
    display: inline

  a
    margin-left: 6px

  p, a
    font-size: $font-size-small

  button
    background: none
    color: $colorLink
    text-decoration: underline
