.node

  .input-wrap
    margin-right: $dim + $marginUI

  input
    width: 100%
    height: $dim
    display: inline-block
    box-sizing: border-box
    padding-left: 12px
    border: none
    background: $greenTransparent
