.tree li li
  @include small
    margin-left: $indent
  @include large
    transform: translateX($indent)

.node + ul
  display: none

.node.-is-expanded + ul
  display: block

.node

  @include user-select-none
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

  .node-body, .node-editing
    padding: $margin-vertical 0



  &.-is-dragging
    .node-body
      display: none
    + ul
      display: none

  .node-body.-has-buttons-shown,
  html.no-touch &
    &:hover
      .node-buttons-default-hidden
        display: inline-block
      .node-buttons + .node-draggable
        margin-right: $dim + $margin-ui
      .node-buttons-num-2 + .node-draggable
        margin-right: 2 * ($dim + $margin-ui)
      .node-buttons-num-3 + .node-draggable
        margin-right: 3 * ($dim + $margin-ui)

  .node-body.-has-move-child-button-shown
    .node-draggable
      margin-right: $dim + $margin-ui
    .node-button-move-child
      display: block
      float: right
      button
        width: $dim
        margin-left: $margin-ui

  .node-button-move-child
    display: none
    &.-is-over
      button
        background-color: $purple

  .node-buttons
    float: right
    button
      width: $dim
      margin-left: $margin-ui
  .node-buttons-default-hidden
    display: none

  .button-icon-more
    display: none
    html.touch &
      display: block
    width: 20px
    float: right
    background: none
    margin-top: 9px
    margin-right: 4px
    i
      font-size: 16px

  .node-body.-has-buttons-shown
    .button-icon-more
      display: none !important

  .node-content
    @extend .node-base-hover
    width: auto
    display: block

    span
      padding: 10px 14px 0
      display: inline-block
      box-sizing: border-box
      width: 100%
      html.touch &
        width: calc(100% - 28px) // Compensate show-buttons-button
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

      a
        text-decoration: none
        &:hover
          text-decoration: underline

  &.-is-active
    .node-content
      background-color: $colorActive

.node-drag-layer
  .node-content
    background-color: lighten($purple, 10%)
