.tree li li
  @include small
    margin-left: $indent
  @include large
    transform: translateX($indent)

.node + ul
  display: none

.node.-is-expanded + ul
  display: block

.node

  @include userSelectNone
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

  .node-body
    border-bottom: solid 1px $lightGray
    margin-bottom: 1px

  &.-is-dragging
    .node-body
      display: none
    + ul
      display: none

  .node-body.-has-buttons-shown,
  html.no-touch &
    &:hover
      .node-buttons-default-hidden
        display: inline-block
      .node-buttons + .node-draggable
        margin-right: $dim + $marginUI
      .node-buttons-num-2 + .node-draggable
        margin-right: 2 * ($dim + $marginUI)
      .node-buttons-num-3 + .node-draggable
        margin-right: 3 * ($dim + $marginUI)

  .node-body.-has-move-child-button-shown
    .node-draggable
      margin-right: $dim + $marginUI
    .node-button-move-child
      display: block
      float: right
      button
        width: $dim
        margin-left: $marginUI

  .node-button-move-child
    display: none
    &.-is-over
      button
        background-color: $green

  .node-buttons
    float: right
    button
      width: $dim
      margin-left: $marginUI
  .node-buttons-default-hidden
    display: none

  .button-icon-more
    display: none
    html.touch &
      display: block
    width: 20px
    float: right
    background: none
    margin-top: 9px
    margin-right: 4px
    i
      font-size: 16px

  .node-body.-has-buttons-shown
    .button-icon-more
      display: none !important

  .node-content
    height: $dim
    width: auto
    display: block
    cursor: pointer

    span
      padding: 10px 14px 0
      display: inline-block
      box-sizing: border-box
      width: 100%
      html.touch &
        width: calc(100% - 28px) // Compensate show-buttons-button
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

      a
        text-decoration: none
        &:hover
          text-decoration: underline

      a.node-info
        display: none
        margin-left: 8px
        padding: 0 4px
        color: $black
        text-decoration: none
        font-size: 10px

    &:hover
      html.no-touch &
        a.node-info
          display: inline-block

  &:hover
    .node-body
      border-bottom-color: $green

  &.-is-root
    .node-body
      border-bottom-width: 2px
      margin-bottom: 0

  &.-is-active
    .node-body
      border-bottom-color: $green
      border-bottom-width: 2px
      margin-bottom: 0
      span
        color: $black
