.node .node-buttons, .node-add
  button
    @extend .node-base-hover
    i
      font-size: 20px
      padding-top: 2px
      color: $gray
      transition: $colorTransition

    &:hover
      i
        color: $black
