.server-status

  height: $dim
  border-radius: $dim / 2
  opacity: 0
  margin-bottom: $spacingLayoutVerticalSmall - $dim

  @include large
    margin-bottom: $spacingLayoutVerticalLarge - $dim

  &.-is-syncing,
  &.-has-errors
    transition: opacity 1s ease-in-out
    opacity: 1

  &.-is-syncing
    background-color: $green
    .server-status-is-syncing
      display: block
  &.-has-errors
    background-color: $red
    .server-status-has-errors
      display: block

  p
    text-align: center
    margin: 0
    padding-top: 10px
    color: $white
    display: none
