.transactions

  th, td
    padding: 2px 12px 2px 0

  th
    text-align: left

  tr
    &.-non-effective
      opacity: 0.15
    &.-invalid, &.-is-denied
      color: $red
    &.-is-cancelled
      text-decoration: line-through
