@import colors
$hoverTransition: background 0.3s ease-in-out
$colorTransition: color 0.3s ease-in-out
$shadowColor: rgb(112, 112, 200)
$boxShadow: 0px 1px 2px 0px rgba($shadowColor, 0.2)
$boxShadowHover: 0px 1px 2px 0px rgba($shadowColor, 0.4)
$boxShadowTransition: box-shadow 0.3s ease-in-out
$dim: 38px
$borderRadius: 3px
$indent: 12px
$margin-vertical: 4px
$margin-ui: 4px
$spacing-layout-vertical-small: 42px
$spacing-layout-vertical-large: 120px
$width: 480px

@import mixins
@import resolutions
@import reset
@import layout
@import server-status
@import node-base
@import node
@import node-over
@import node-button
@import node-input
@import drag-layer
@import login-form
