$color: white
$dim: 32px

body
  background: #DDD
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  font-weight: 300
  font-size: 14px

body, ul, li
  margin: 0
  padding: 0

.wrap
  max-width: 480px
  margin: 100px auto 0

li
  list-style: none

li li
  margin-left: 8px

li > ul
  display: none

li.-is-expanded > ul
  display: block


.node, .node-add
  height: $dim
  margin-bottom: 4px

  &.-is-editing
    .node-content, > button
      display: none
    form
      display: block
    > button
      display: none !important
    div
      margin-right: $dim + 1 !important

  &:hover
    div
      margin-right: 2 * $dim + 2
    > button
      display: inline-block

  form
    display: none
    button
      display: block

  div
    height: $dim
    cursor: pointer
    background: $color

    span
      padding-top: 7px
      padding-left: 8px
      display: inline-block

  button
    display: none
    float: right
    width: $dim
    height: $dim
    border: none
    background: $color
    transition: background 0.3s ease-in-out
    margin-left: 1px
    cursor: pointer

    &:hover
      background: darken($color, 4%)

  .input-wrap
    margin-right: $dim + 1

  input
    display: inline-block
    box-sizing: border-box
    height: $dim
    padding-left: 12px
    font-size: 14px
    width: 100%
    border: none
    background: #ffc9c9

.node-add

  &:hover
    div
      margin-right: $dim + 1

  button
    display: inline-block

  > div
    width: 100%

    > button
      width: 100%
      margin: 0

  .-is-editing
    > button
      display: none
    form
      display: block
