$color: white
$backgroundColor: #DDD
$dim: 32px
$margin-indent: 12px
$margin-bottom: 4px
$margin-ui: 1px

body
  background: $backgroundColor
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  font-weight: 300
  font-size: 14px

body, ul, li
  margin: 0
  padding: 0

.wrap
  max-width: 480px
  margin: 100px auto 0

li
  list-style: none

li li
  margin-left: $margin-indent

.node + ul
  display: none

.node.-is-expanded + ul
  display: block

.node
  height: $dim
  margin-bottom: $margin-bottom

  .node-editing
    display: none

  &.-is-editing
    .node-body
      display: none
    .node-editing
      display: block

  &:hover
    .node-buttons-default-hidden
      display: inline-block
    .node-content
      margin-right: 2 * ($dim + $margin-ui)

  .node-buttons
    float: right
  .node-buttons-default-hidden
    display: none

  .node-content
    display: block
    height: $dim
    cursor: pointer
    background: $color

    span
      padding-top: 7px
      padding-left: 8px
      display: inline-block

  button
    width: $dim
    height: $dim
    border: none
    background: $color
    transition: background 0.3s ease-in-out
    margin-left: $margin-ui
    cursor: pointer

    &:hover
      background: darken($color, 4%)

  .input-wrap
    margin-right: $dim + $margin-ui

  input
    display: inline-block
    box-sizing: border-box
    height: $dim
    padding-left: 12px
    font-size: 14px
    width: 100%
    border: none
    background: #ffc9c9

.node-add .node-body > button
  width: 100%
